<%- include ("./layouts/header.ejs") %>

<main class="product-details">
    <h2>Edit Product</h2>
    <div class="form-container">
        <form action="/products/<%= product._id %>?_method=PUT" method="post">
            <div>
                <label for="name">
                    <p>Product Name</p>
                </label>
                <input type="text" name="name" value="<%= product.name %>">
            </div>
            <div>
                <label for="price">
                    <p>Product Price</p>
                </label>
                <input type="number" name="price" value="<%= product.price %>">
            </div>
            <div>
                <label for="description">
                    <p>Product Description</p>
                </label>
                <textarea name="description" cols="30" rows="10"><%= product.description %></textarea>
            </div>
            <div>
                <label for="image">
                    <p>Product Image URL</p>
                </label>
                <input type="text" name="image" value="<%= product.imageurl %>">
            </div>
            <div>
                <label for="category">
                    <p>Product category</p>
                </label>
                <select name="category" id="">
                    <option value="Accessories" <% if (product.category === 'Accessories') { %>
                        <%= 'selected' %>
                    <% } %> >Accessories</option>
                    <option value="Apparel" <% if (product.category === 'Apparel') { %>
                        <%= 'selected' %>
                    <% } %> > Apparel</option>
                    <option value="Bags" <% if (product.category === 'Bags') { %>
                        <%= 'selected' %>
                    <% } %> >Bags</option>
                </select>
            </div>
            <input type="submit" value="Update Product">
        </form>
    </div>
</main>

<%- include ("./layouts/footer.ejs") %>
