<%- include ("./layouts/header.ejs") %>

    <main class="products">
        <% products.forEach(function(product, index) { %>

            <article class="product">
                <img src="<%=product.imageurl %>" alt="product.name">
                <h3><%= product.name %></h3>
                <div class="flex">
                    <p class="price"><%= product.price %></p>
                    <p class="category"><%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %></p>
                </div>
                <a href="/products/<%= product._id %>">View product</a>
            </article>
        <% }) %>
       
     
    </main>
   
    <%- include ("./layouts/footer.ejs") %>
