 <%- include ("./layouts/header.ejs") %>

    <main class="product-details">
        <img src="<%= product.imageurl %>" alt="Product" />
        <h2><%= product.name %></h2>
        <p class="price">NGN<%= product.price.toLocaleString() %></p>
        <p class="desc"><%= product.description %></p>
        <p class="category"><%= product.category %></p>
        <a href="/products/<%= product._id %>/edit">Edit Product</a>

        <form action="/products/<%= product._id %>?_method=DELETE" 
            method="post" onsubmit="return confirm('are you sure you want to delete this product')">
            <button type="submit">delete product</button>
        </form>

       
    </main>
    <%- include ("./layouts/footer.ejs") %>
